@page
@model Azure.FileStorage.SecretModel
@{
    ViewData["Title"] = "Secrets";
}

<div class="row justify-content-between">
    <div class="col-6">
        <form method="get">
            <div style="padding-top: 10px;" class="row align-items-center">
                <label class="fw-bold">Load secret:</label>
                <div class="col-auto">
                    <input class="form-control" name="name" placeholder="Write secret name" />
                </div>
                <div class="col-auto">
                    <button class="btn btn-success" type="submit">Load</button>
                </div>
            </div>
        </form>
        <form method="post" asp-page-handler="deleteSecret">
            <div style="padding-top: 10px;" class="row align-items-center">
                <label class="fw-bold">Delete secret:</label>
                <div class="col-auto">
                    <input class="form-control" name="name" placeholder="Write secret name" />
                </div>
                <div class="col-auto">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </div>
            </div>
        </form>
        <form method="post" asp-page-handler="restoreDeletedSecret">
            <div style="padding-top: 10px;" class="row align-items-center">
                <label class="fw-bold">Restore deleted secret:</label>
                <div class="col-auto">
                    <input class="form-control" name="name" placeholder="Write secret name" />
                </div>
                <div class="col-auto">
                    <button class="btn btn-success" type="submit">Restore</button>
                </div>
            </div>
        </form>
        <form method="post" asp-page-handler="setSecret">
            <div style="padding-top: 10px;" class="row align-items-center">
                <label class="fw-bold">Set secret:</label>
                <div class="col-auto">
                    <input class="form-control" name="name" placeholder="Write secret name" />
                </div>
                <div class="col-auto">
                    <input class="form-control" name="value" placeholder="Write secret value" />
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">Create</button>
                </div>
            </div>
        </form>
        <form method="post" asp-page-handler="backupSecret">
            <div style="padding-top: 10px;" class="row align-items-center">
                <label class="fw-bold">Backup secret:</label>
                <div class="col-auto">
                    <input class="form-control" name="name" placeholder="Write secret name" />
                </div>
                <div class="col-auto">
                    <input class="form-control" name="path" placeholder="Write path" />
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">Backup</button>
                </div>
            </div>
        </form>
        <form method="post" asp-page-handler="restoreBackupSecret" enctype="multipart/form-data">
            <div style="padding-top: 10px;" class="row align-items-center">
                <label class="fw-bold">Restore from backup secret:</label>
                <div class="col-auto">
                    <input class="form-control" name="loadFile" type="file" id="formFile">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">Restore</button>
                </div>
            </div>
        </form>
        <form method="post" asp-page-handler="secretsProperties">
            <div style="padding-top: 10px;" class="row align-items-center">
                <label class="fw-bold">Load secret properties:</label>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">Load</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-6">
        <form method="post" asp-page-handler="reset">
            <div class="row align-items-center">
                <div class="col-auto">
                    <label class="fw-bold">Result:</label>
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-warning">Reset</button>
                </div>
            </div>
            <div>
                @Model.Message
            </div>
        </form>
    </div>
</div>